// Archivos importados
@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

/*Payment*/
.payment {
  padding: 3vh 4vh;
  &__form {
    &-control {
      @include flex;
      justify-content: space-between;
    }
    &-group {
      @include flex;
      justify-content: space-between;
      margin: 2vh 0 6vh;
      text-align: left;
    }
    &-element {
      margin-top: 1vh;
      padding: 2vh;
      background: #fff;
      border-radius: 0.4em;
    }
    &-error {
      margin-top: 2vh;
    }
  }
  &__input {
    border: none;
    font-weight: 400;
    color: $negro;
    border-radius: 0.4em;
  }
  &__button {
    margin-top: 2vh;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    background-color: $rojo;
    border-radius: 0.4em;
  }
  &__data {
    margin-top: 1vh;
  }
  &__secure {
    text-align: left;
    display: flex;
    align-items: center;
  }
  &__segurity {
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: 0.4em;
    color: $azul;
    background: none;
    border: none;
  }
  &__data {
    @include flex;
    justify-content: center;
    align-items: center;
  }
  &__price,
  &__name {
    color: #fff;
    font-weight: 300;
    border-radius: 0.4em;
    font-weight: 400;
    span {
      color: #fff;
      font-weight: 600;
    }
  }
  &__price {
    background-color: $azul;
  }
  &__name {
    background-color: $verde;
  }
  &__text {
    text-align: justify;
  }
  &__pro {
    &-img {
      margin: 3vh 0 4vh;
    }
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/
@include min-media(320px, portrait) {
  /*Payment*/
  .payment {
    &__text {
      margin: 1vh 0;
    }
    &__price,
    &__name {
      padding: 1vh 2vh;
      margin: 2vh 0;
      font-size: 1rem;
    }
    &__form {
      &-element {
        flex: 0 0 92%;
      }
    }
    &__input {
      flex: 0 0 92%;
      font-size: 1rem;
      padding: 1.4vh 1.2vh;
      margin: 2vh 0;
    }
    &__button {
      margin-bottom: 3vh;
      font-size: 1rem;
      padding: 1vh 2vh;
    }
    &__secure {
      margin-top: 4vh;
      margin-bottom: 4vh;
      &-lock {
        width: 2.5vh;
        margin-right: 1vh;
      }
    }
    &__segurity {
      width: 46%;
      margin: 0 auto 3vh;
      font-size: 1rem;
      padding: 1vh 2vh;
      &-img {
        width: 12%;
        margin-right: 1vh;
      }
    }
    &__text-down {
      font-size: 1.1rem;
      line-height: 1.3rem;
    }
    &__pro {
      &-img {
        width: 50%;
      }
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include min-media(568px, landscape) {
  /*Payment*/
  .payment {
    margin: 2vh 0;
    flex: 0 0 83%;
    &__text {
      margin: 1vh 0;
    }
    &__price,
    &__name {
      margin: 2vh !important;
      padding: 1vh 2vh;
      font-size: 1rem;
    }
    &__form {
      &-element {
        flex: 0 0 92%;
      }
    }
    &__input {
      flex: 0 0 92%;
      font-size: 1rem;
      padding: 3vh 2vh;
      margin: 2vh 0 6vh 0;
    }
    &__button {
      margin-top: 4vh;
      font-size: 1.1rem;
      padding: 2vh 3vh;
      margin-bottom: 4vh;
    }
    &__secure {
      margin-top: 4vh;
      margin-bottom: 4vh;
      &-lock {
        width: 5vh;
        margin-right: 2vh;
      }
    }
    &__segurity {
      width: 29%;
      margin: 0 auto 3vh;
      font-size: 1rem;
      padding: 2vh;
      &-img {
        width: 12%;
        margin-right: 2vh;
      }
    }
    &__text-down {
      font-size: 1.1rem;
      line-height: 1.3rem;
    }
    &__pro {
      &-img {
        width: 35%;
      }
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@include min-media(768px, portrait) {
  /*Payment*/
  .payment {
    flex: 0 0 80%;
    &__price,
    &__name {
      margin: 2vh 1vh !important;
      padding: 0.5vh 1vh;
    }
    &__form {
      &-group {
        label {
          font-size: 1.2rem;
        }
      }
    }
    &__input {
      margin: 1.5vh 0;
      padding: 1vh 1.5vh;
    }
    &__input,
    &__button {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }

    &__secure {
      font-size: 1.2rem;
      margin-top: 2vh;
      margin-bottom: 2vh;
      &-lock {
        width: 2vh;
      }
    }
    &__segurity {
      width: 38%;
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include min-media(1024px, landscape) {
  /*Payment*/
  .payment {
    flex: 0 0 65% !important;
    &__form {
      &-group {
        label {
          font-size: 1.2rem;
        }
      }
    }
    &__input {
      font-size: 1.2rem;
      margin:2vh 0;
    }
    &__button {
      margin-top: 3vh;
      margin-bottom: 3vh;
      font-size: 1.2rem;
    }
    &__price,
    &__name {
      font-size: 1.2rem;
    }

    &__secure {
      font-size: 1.2rem;
      &-lock {
        width: 3vh;
        margin-right: 1.5vh;
      }
    }

    &__text-down {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }

    &__segurity {
      font-size: 1.2rem;
      padding: 1.4vh;
      &-img {
        margin-right: 1vh;
      }
    }
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/
@include min-media(1280px) {
}
