// Archivos importados
@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

/*Payment*/
.payment {
  @include flex;
  flex: 0 0 60%;
  justify-content: center;
  padding: 3vh 0;
  &__form {
    flex: 0 0 100%;
    &-control {
      @include flex;
      justify-content: space-between;
    }
    &-group {
      @include flex;
      justify-content: space-between;
      text-align: left;
      margin: 0;
    }    
    &-element {
      flex: 0 0 90%;
      padding: 2vh;
      background: #fff;
      border-radius: 0.4em;
      margin: 3vh 0 1vh 0;
    }
    &-error {
      margin-top: 2vh;
    }
    &-stripe {
      width: 15%;
      padding-top: 1vh;
    }
  }
  &__input {
    flex: 0 0 90%;
  }
  &__text {
    margin: 3vh 0 3vh 0;
    a {
      text-decoration: underline;
    }
  }
  &__button {
    margin: 0 auto;
    background-color: $rojo;
  }
  &__button:disabled {
    background-color: lighten($color: $rojo, $amount: 10);
    cursor: not-allowed;
  }
  &__data {
    margin-top: 1vh;
  }
  &__secure {
    text-align: left;
    display: flex;
    align-items: center;    
  }
  &__security {
    @include flex;
    justify-content: center;
    font-weight: 600;
    color: $azul;
    margin-top: 2vh;
    &-img {
      width: 15px;
      margin-right: 1vh;
    }
  }
  &__data {
    @include flex;
    justify-content: center;
    align-items: center;
  }
  &__price,
  &__name {
    color: #fff;
    font-weight: 300;
    border-radius: 0.4em;
    font-weight: 400;
    margin: 2vh 1vh;
    padding: 0.5vh 1vh;
    span {
      color: #fff;
      font-weight: 600;
    }
  }
  &__price {
    padding: 0.5vh 1vh;
    background-color: $azul;
  }
  &__name {
    background-color: $verde;
  }
  &__text {
    text-align: justify;
  }
  &__pro {
    &-img {
      margin: 3vh 0 4vh;
      width: 45%;
    }
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/
@include min-media(20em) {
  /*Payment*/
  .payment {
    flex: 0 0 90%;
    &__text {
      font-size: 1.1rem;
      line-height: 1.45rem;
      margin: 1vh 0;
    }
    &__price,
    &__name {
      padding: 1vh 2vh;
      margin: 2vh 0;
      font-size: 1rem;
    }
    &__form {      
      &-element {
        flex: 0 0 90%;
      }
      &-stripe {
        width: 36%;
        padding: 0.5vh 0 0.5vh;
      }
    }
    &__input {
      flex: 0 0 90%;
    }
    &__button {
      margin: 3vh auto 1vh;
      padding: 1vh 2vh;
    }
    &__secure {
      margin-top: 4vh;
      margin-bottom: 4vh;
      &-lock {
        width: 2.5vh;
        margin-right: 1vh;
      }
    }
    &__security {
      width: 46%;
      margin: 0 auto 3vh;
      padding: 1vh 2vh;
      &-img {
        width: 12px;
        margin-right: 1vh;
      }
    }
    &__text-down {
      font-size: 1.1rem;
      line-height: 1.3rem;
    }
    &__pro {
      &-img {
        width: 60%;
      }
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include min-media(35.5em) {
  /*Payment*/
  .payment {
    margin: 2vh 0;
    flex: 0 0 90%;
    &__text {
      margin: 1vh 0;
    }
    &__price,
    &__name {
      margin: 2vh;
      padding: 1vh 2vh;
      font-size: 1rem;
    }
    &__form {
      &-element {
        flex: 0 0 90%;
        margin: 6vh 0 3vh 0;
      }
      &-stripe {
        width: 24%;
        padding: 0 0 2.5vh;
      }
    }
    &__input {
      flex: 0 0 90%;    
    }
    &__button {
      padding: 2vh 3vh;
      
    }
    &__secure {
      margin-top: 4vh;
      margin-bottom: 4vh;
      &-lock {
        width: 5vh;
        margin-right: 2vh;
      }
    }
    &__security {
      width: 29%;
      &-img {         
        margin-right: 1vh;
      }

    }
    &__text-down {
      font-size: 1.1rem;
      line-height: 1.3rem;
    }
    &__pro {
      &-img {
        width: 35%;
      }
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@include min-media(48em) {
  /*Payment*/
  .payment {
    flex: 0 0 90%;
    &__title {
      width: 100%;
    }
    &__subtitle {
      width: 100%;
    }
    &__input {
      margin: 3vh 0 1vh 0;
    }
    &__price,
    &__name {
      margin: 2vh 1vh;
      padding: 0.5vh 1vh;
    }
    
    &__form {
      &-element {
        flex: 0 0 90%;
        margin: 3vh 0 0 0;
      }
      &-stripe {
        padding: 1vh 0 0.5vh;
      }
    }
    &__secure {
      font-size: 1.2rem;
      margin-top: 2vh;
      margin-bottom: 2vh;
      &-lock {
        width: 2vh;
      }
    }
    &__security {
      width: 38%;
      &-img {
        width: 15px;
        margin-right: 1vh;
      }
    }
    &__pro {
      &-img {
        width: 50%;
      }
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include min-media(64em) {
  /*Payment*/
  .payment {
    flex: 0 0 65%; 
    &__price,
    &__name {
      font-size: 1.2rem;
    }

    &__secure {
      font-size: 1.2rem;
      &-lock {
        width: 3vh;
        margin-right: 1.5vh;
      }
    }

    &__text-down {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/
@include min-media(1280px) {
  .payment {
    &__input {
      margin: 3vh 0 1vh 0;
    }
    &__form {
      &-group {
        margin: 3vh 0 3vh 0;
      }
      &-element {
        margin: 0;
      }
      &-stripe {
        width: 15%;
        padding-top: 1vh;
      }
    }
    &__security {
      &-img {
        width: 15px;
        margin-right: 1vh;
      }
    }
    &__pro {
      &-img {
        width: 52%;
      }
    }
  }
}
