/* Bariol 300 - Light */
@font-face {
  font-family: 'Bariol';
  font-style: normal;
  font-weight: 300;
  src: $bariolLight;
}

/* Bariol 400 - Regular */
@font-face {
  font-family: 'Bariol';
  font-style: normal;
  font-weight: 400;

  src: $bariolRegular;
}

/* Bariol 600 - Bold */
@font-face {
  font-family: 'Bariol';
  font-style: normal;
  font-weight: 600;
  src: $bariolBold;
}

* {
  font-family: 'Bariol';
  color: $negro;
}
