/* Colores */
$rojo: #c52d3e;

$azul: #579bd9;

$amarillo: #edb52a;

$gris1: #808080;

$gris2: #4d4d4d;

$negro: #1a1a1a;

/* Fonts */
$bariolLight: url(../font/Bariol/Bariol-Light.ttf);
$bariolRegular: url(../font/Bariol/Bariol-Regular.ttf);
$bariolBold: url(../font/Bariol/Bariol-Bold.ttf);

/* Images */
// $mozaicoPortadaIngles: url("../images/mozaico-portadas-ingles.jpg");
$mozaicoPortadaIngles: url(../assets/images/mozaico-portadas-ingles.jpg);