/* Colores */
$rojo: #e6293d;

$azul: #019cde;

$amarillo: #ffb500;

$gris1: #808080;

$gris2: #4d4d4d;

$negro: #131313;

$verde: #00c77e;

/* Fonts */
$bariolLight: url(../font/Bariol/Bariol-Light.ttf);
$bariolRegular: url(../font/Bariol/Bariol-Regular.ttf);
$bariolBold: url(../font/Bariol/Bariol-Bold.ttf);

/* Images */
// $mozaicoPortadaIngles: url("../images/mozaico-portadas-ingles.jpg");
$mozaicoPortadaIngles: url(../../assets/images/background-libros-us.jpg);