// Archivos importados
@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

/*detalles*/
.details {
  @include flex;
  flex: 0 0 100%;
  text-align: left;
  &__text {
    flex: 0 0 50%;
    font-weight: 400;
    color: $gris2;
    text-transform: capitalize;
    margin: 1vh 0;
  }
  &__data {
    font-weight: 600;
    color: $negro;
    &--email {
      text-transform: lowercase;
    }
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/
@include min-media(20em) {
  .details {
    margin-top: 1vh;
    &__text {
      margin: 1vh 0;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include min-media(35.5em)  {
  /*detalles*/
  .details {
    padding-top: 1vh;
    &__text {
      margin: 1vh 0;
      flex: 0 0 100%;
    }
    &__data {
      margin: 0 0.5vh;
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@include min-media(48em) {
  .details {
    &__text {
      flex: 0 0 50%;
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include min-media(64em) {
  /*detalles*/
  .details {
    padding-top: 1vh;
    &__text {
      flex: 0 0 50%;
    }
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/
@include min-media(80em) {
}
