// Archivos importados
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

/* Account */
.account {
  @include flex;
  @include center;
  border-bottom: $rojo 10px solid;
  background-image: $mozaicoPortadaIngles;
  background-size: contain;
  background-position: top center;
  .container {
    justify-content: center;
  }
  &__title {
    padding-bottom: 0;
  }
  &__info {
    @include flex;
    @include center;
    text-align: center;
    background-color: $amarillo;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.7);
  }
  &__title {
    flex: 100%;
  }
  &__text {
    font-weight: 400;
    color: $gris2;
  }
  &__card {
    @include flex;
    justify-content: space-between;
    background: rgb(238, 238, 238);
    /*&-title {margin-bottom:2vh;}*/
    &-header {
      justify-content: center;
      align-items: center;
    }
    &-data {
      justify-content: center;
      align-items: center;
      display: flex;
      p {
        font-weight: 600;
      }
    }
    &-img {
      margin: 3vh 0;
    }
  }
  &__line {
    flex: 100%;
    border-top: 1px solid $gris1;
  }
  &__button {
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    background-color: $rojo;
    border-radius: 0.4em;
  }
  .cancel {
    &__button {
      border: none;
      border-radius: 0;
      color: #fff;
      cursor: pointer;
      background-color: $rojo;
      border-radius: 0.4em;
    }
  }
  &__text-down {
    margin: 2vh 0;
    flex: 0 0 100%;
  }
  &-manage {
    width: 100%;
    display: flex;
    &__input {
      border: 1px #808080 solid;
      border-right: none;
      font-weight: 400;
      color: #131313;
      border-radius: 0.4em 0 0 0.4em;
    }
    &__button {
      border: none;
      border-radius: 0;
      color: #fff;
      cursor: pointer;
      background-color: $verde;
      border-radius: 0 0.4em 0.4em 0;
    }
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/
@include min-media(320px, portrait) {
  /* Account */
  .account {
    min-height: 93vh;
    padding: 4vh 0;
    &__info {
      border-radius: 3em;
      width: 95vw;
      padding: 2vh 2vh 4vh 2vh;
    }
    &__title {
      padding-bottom: 2vh;
    }
    &__card {
      width: 90%;
      margin-top: 3vh;
      padding: 1vh 4vh 3vh;
      border-radius: 2em;
      &-header {
        flex: 0 0 100%;
        padding-bottom: 2vh;
      }
      &-info {
        flex: 0 0 100%;
        padding-top: 1vh;
        padding-bottom: 2vh;
      }
      &-data {
        font-size: 1.2rem;
        padding: 0.5vh 1vh;
      }
      &-column {
        width: 100%;
        padding: 1vh;
      }
      &-img {
        width: 50%;
      }
    }
    &__button {
      margin-top: 2vh;
      font-size: 1rem;
      padding: 1vh 2vh;
      flex: 0 0 100%;
    }
    &-manage {
      margin-top: 2vh;
      &__input {
        font-size: 1rem;
        padding: 1vh;
        flex: 0 0 75%;
      }
      &__button {
        flex: 0 0 25%;
        font-size: 1rem;
        padding: 1vh 0.9vh;
      }
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include min-media(568px, landscape) {
  /* Account */
  .account {
    min-height: 90vh;
    &__info {
      border-radius: 3em;
      width: 90vw;
      padding: 2vh 0 4vh 0;
      margin: 4vh;
    }
    &__card {
      width: 90%;
      margin-top: 3vh;
      padding: 1vh 6vh 5vh;
      border-radius: 2em;
      &-header {
        flex: 0 0 100%;
        padding-bottom: 2vh;
      }
      &-info {
        flex: 0 0 100%;
        padding-bottom: 2vh;
      }
      &-data {
        font-size: 1.1rem;
        padding: 0.5vh 1vh;
      }
      &-column {
        padding: 3vh 0 0;
      }
      &-img {
        width: 35%;
      }
    }
    &__button {
      flex: 0 0 30%;
      font-size: 1rem;
      padding: 2vh 3vh;
    }

    &-manage {
      margin-top: 4vh;
      &__input {
        font-size: 1rem;
        padding: 2vh;
        flex: 0 0 80%;
      }
      &__button {
        flex: 0 0 20%;
        font-size: 1rem;
        padding: 1vh 3vh;
      }
    }
  }

  .cancel {
    &__title {
      flex: 0 0 100%;
      padding-bottom: 2vh;
    }
    &__button {
      flex: 0 0 25%;
      font-size: 1rem;
      padding: 1vh 3vh;
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@include min-media(768px, portrait) {
  /* Account */
  .account {
    min-height: 62vh;
    &__info {
      border-radius: 4em;
    }
    &__button {
      margin-top: 0;
      flex: 0 0 48%;
    }
    &-manage {
      &__input {
        font-size: 1.2rem;
        flex: 0 0 80%;
      }
      &__button {
        flex: 0 0 20%;
        font-size: 1.2rem;
      }
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include min-media(1024px, landscape) {
  /* Account */
  .account {
    min-height: 72vh;
    &__info {
      border-radius: 4em;
    }
    &__button {
      font-size: 1.2rem;
      padding: 1vh 2vh;
    }

    &-manage {
      &__input {
        padding: 1vh;
      }
      &__button {
        font-size: 1.2rem;
      }
    }
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/
@include min-media(1280px) {
  /* Account */
  .account {
    &__info {
      width: 53vw;
    }
    &__card {
      &-title {
        padding-bottom: 2vh;
      }
    }
  }
}
