// Archivos importados
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

/* Account */
.account {
  @include flex;
  @include center;
  border-bottom: $rojo 10px solid;
  background-image: $mozaicoPortadaIngles;
  background-size: contain;
  background-position: top center;
  .container {
    justify-content: center;
  }
  &__title {
    width: 100%;
    padding-bottom: 0;
  }
  &__info {
    @include flex;
    @include center;
    text-align: center;
    background-color: $amarillo;
    width: 53vw;
    border-radius: 1.5em;
    margin: 4vh;
    padding: 0 0 4vh 0;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.7);
  }
  &__text {
    font-weight: 400;
    color: $gris2;
  }
  &__card {
    @include flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 3vh;
    border-radius: 1.5em;
    padding: 4vh;
    background: rgb(238, 238, 238);  
    &-header {
      flex: 0 0 100%;
      padding-bottom: 2vh;
      justify-content: center;
      align-items: center;
    }
    &-data {
      justify-content: center;
      align-items: center;
      display: flex;
    }
    &-column {
      width: 100%;
      padding: 1vh;
    }
    &-info {
      flex: 0 0 100%;
    }
    &-img {
      width: 35%;
    }
  }
  &__line {
    flex: 100%;
    border-top: 1px solid $gris1;
  }
  &__button {    
    flex: 0 0 48%;
    background-color: $rojo;
  }
  .cancel {
    &__button {
      background-color: $rojo;
    }
  }
  &__text-down {
    margin: 2vh 0;
    flex: 0 0 100%;
  }
  &-manage {
    width: 100%;
    display: flex;
    &__input {
      flex: 0 0 80%;
      border: 1px #808080 solid;
      border-right: none;
      font-weight: 400;
      color: #131313;
      border-radius: 0.4em 0 0 0.4em;
      margin: 0;
    }
    &__button {
      flex: 0 0 20%;
      background-color: $verde;
      border-radius: 0 0.4em 0.4em 0;
      margin: 0;
    }
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/
@include min-media(20em) {
  /* Account */
  .account {
    p {
      font-size: 1rem;
      line-height: 1.2rem;
    }
    min-height: 93vh;
    padding: 4vh 0;
    &__info {
      width: 95vw;
      padding: 2vh 2vh 4vh 2vh;
    }
    &__title {
      padding-bottom: 2vh;
    }
    &__card {
      width: 90%;
      padding: 2vh;
      &-header {
        flex: 0 0 100%;
        padding-bottom: 2vh;
      }
      &-info {
        flex: 0 0 100%;
        padding-top: 1vh;
        padding-bottom: 2vh;
      }
      &-column {
        width: 100%;
        padding: 1vh;&-img {
          width: 35%;
        }
      }
      &-img {
        width: 50%;
      }
    }
    &__button {
      flex: 0 0 100%;
      margin-top: 1.5vh;
    }
    &-manage {
      margin-top: 2vh;
      &__input {
        font-size: 1rem;

        flex: 0 0 50%;
      }
      &__button {
        flex: 0 0 25%;
      }
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include min-media(35.5em) {
  /* Account */
  .account {
    p {
      font-size: 1.35rem;
      line-height: 1.65rem;
    }
    min-height: 90vh;
    &__info {
      width: 90vw;
      padding: 2vh 0 4vh 0;
    }
    &__card {
      width: 90%;
      padding: 4vh;
      &-header {
        flex: 0 0 100%;
        padding-bottom: 2vh;
      }
      &-info {
        flex: 0 0 100%;
        padding-bottom: 2vh;
      }
      &-column {
        padding: 3vh 0 0;
      }
      &-img {
        width: 35%;
      }
    }
    &__button {
      flex: 0 0 45%;
    }

    &-manage {
      margin-top: 4vh;
      justify-content: center;
      &__input {
        font-size: 1rem;
        padding: 2vh;
        flex: 0 0 50%;
      }
      &__button {
        flex: 0 0 30%;
      }
    }
  }

  .cancel {
    &__title {
      flex: 0 0 100%;
      padding-bottom: 2vh;
    }
    &__button {
      flex: 0 0 25%;
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@include min-media(48em) {
  /* Account */
  .account {
    min-height: 62vh;
    &__info {
      border-radius: 3em;
    }
    &__button {
      margin-top: 0;
      flex: 0 0 48%;
    }
    &-manage {
      &__input {
        font-size: 1.2rem;
        flex: 0 0 80%;
      }
      &__button {
        flex: 0 0 20%;
      }
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include min-media(64em) {
  /* Account */
  .account {
    min-height: 72vh;
    &__info {
      border-radius: 3em;
    }

    &-manage {
      &__input {
        padding: 1vh;
      }
    }
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/
@include min-media(80em) {
  /* Account */
  .account {
    &__info {
      width: 53vw;
    }
    &__card {
      &-title {
        padding-bottom: 2vh;
      }
    }
  }
}
