// Archivos importados
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

/* Prices */
.prices {
  @include flex;
  @include center;
  border-bottom: $rojo 10px solid;
  background-image: $mozaicoPortadaIngles;
  background-size: cover;
  background-position: center;
  .container {
    justify-content: center;
  }
  &__info {
    @include flex;
    @include center;
    text-align: center;
    background-color: $amarillo;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.7);
  }
  &__title {
    flex: 100%;
  }
  &__input {
    border: none;
    font-weight: 400;
    color: $negro;
  }
  &__button {
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    background-color: $rojo;
  }
  &__login {
    font-weight: 600;
    color: $rojo;
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/
@include min-media(320px, portrait) {
  /* Prices */
  .prices {
    min-height: 93vh;
    padding: 5vh 0;
    &__info {
      border-radius: 3em;
      padding: 2vh 0 4vh;
    }
    &__title {
      padding-top: 1vh;
      padding-bottom: 4vh;
    }
    &__form {
      width: 90%;
    }
    &__input {
      width: 100%;
      font-size: 1rem;
      padding: 1.4vh 1.2vh 1.1vh 1.2vh;
      margin: 2vh 0;
    }
    &__button {
      margin-top: 2vh;
      font-size: 1.3rem;
      padding: 1vh 2vh;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include min-media(568px, landscape) {
  /* Prices */
  .prices {
    min-height: 90vh;
    padding: 4vh 0;
    &__title {
      padding-top: 1vh;
      padding-bottom: 4vh;
    }
    &__info {
      border-radius: 3em;
      padding: 2vh 4vh 4vh 4vh;
      margin: 4vh;
    }
    &__form {
      width: 70%;
    }
    &__input {
      width: 100%;
      font-size: 1rem;
      padding: 2vh;
      margin: 2vh 0;
    }
    &__button {
      font-size: 1.3rem;
      margin-top: 1vh;
      padding: 1vh 3vh 1.7vh 3vh;
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@include min-media(768px, portrait) {
  /* Prices */
  .prices {
    padding: 5vh 3vh;
    &__info {
      border-radius: 4em;
    }
    &__form {
      width: 70%;
    }
    &__input {
      margin: 1.5vh 0;
    }
    &__button {
      margin-top: 1vh;
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include min-media(1024px, landscape) {
  /* Prices */
  .prices {
    min-height: 72vh;
    &__info {
      border-radius: 4em;
    }
    &__form {
      width: 70%;
    }
    &__button {
      font-size: 1.6rem;
    }
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/
@include min-media(1280px) {
  /* Prices */
  .prices {
    &__info {
      width: 53vw;
    }
  }
}
