// Archivos importados
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/appleZoomInput';

/* Register */
.register {
  @include flex;
  @include center;
  border-bottom: $rojo 10px solid;
  background-image: $mozaicoPortadaIngles;
  background-size: contain;
  background-position: top center;
  .container {
    justify-content: center;
  }
  &__info {
    @include flex;
    @include center;
    text-align: center;
    background-color: $amarillo;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.7);
  }
  &__title,
  &__text {
    flex: 100%;
  }
  &__down {
    flex: 0 0 100%;
  }
  &__form {
    flex: 0 0 60%;
    padding-bottom: 3vh;
    &-control {
      @include flex;
      justify-content: space-between;
    }
  }
  &__input {
    flex: 0 0 90%;
  }
  &__button {
    border: none;
    border-radius: 0.4rem;
    color: #fff;
    cursor: pointer;
    background-color: $rojo;
  }
  &__login {
    font-weight: 600;
    color: $rojo;
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/
@include min-media(20em) {
  /* Register */
  .register {
    padding: 5vh 0;
    &__info {
      border-radius: 1.5em;
      padding: 2vh 0 0;
    }
    &__title {
      padding-bottom: 2vh;
    }
    &__form {
      flex: 0 0 90%;
    }
    &__down {
      padding-top: 3vh;
    }
    &__input {
      flex: 0 0 90%;
    }
    &__button {
      margin-top: 1vh;
      font-size: 1rem;
      padding: 1vh 2vh;
    }
    &__password {
      margin-bottom: 1vh;
      font-size: 1rem;
      line-height: 1.3rem;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include min-media(35.5em)  {
  /* Register */
  .register {
    &__info {
      border-radius: 1.5em;
      padding: 4vh 0 0;
      margin: 5vh;
    }
    &__title {
      padding-bottom: 3vh;
    }
    &__text {
    }
    &__form {
      width: 80%;
      padding-bottom: 6vh;
    }
    &__down {
      padding-top: 4vh;
    }
    &__input {
      flex: 0 0 90%;
      
    }
    &__button {
      margin-top: 1vh;
      font-size: 1.2rem;
      padding: 1.5vh 5vh;
    }
    &__password {
      margin-bottom: 1vh;
      font-size: 1.1rem;
      line-height: 1.3rem;
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@include min-media(48em) {
  /* Register */
  .register {
    padding: 5vh 3vh;
    &__info {
      border-radius: 3em;
    }
    &__form {
      width: 75%;
    }
    &__input {
      margin: 3vh 0 1vh 0;
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include min-media(64em) {
  /* Register */
  .register {
    &__info {
      border-radius: 3em;
    }
    &__form {
      flex: 0 0 65%;
    }
    &__text {

    }
    &__input {
      margin: 3vh 0 1vh 0;
    }
    &__input {
      flex: 0 0 90%;
    }
    &__button {
      width: 100%;
      padding: 1vh 4vh;
    }
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/
@include min-media(1280px) {
  /* Register */
  .register {
    &__form {
      flex: 0 0 60%;
      padding-bottom: 3vh;
    }
  }
}
