@import '../assets/scss/variables';
@import '../assets/scss/mixins';

/*Product*/
.prices__products {
  @include flex;
  flex: 0 0 100%;
}

.product {
  &__btn {
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    background-color: $azul;
    border-radius: 0.4em;
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/
@include min-media(320px, portrait) {
  /*Product*/
  .product {
    flex: 0 0 100%;
    margin: 2vh 0;
    &__prices,
    &__interval,
    &__billed {
      margin: 1vh 0;
    }
    &__btn {
      margin-top: 1vh;
      padding: 1vh 2vh;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include min-media(568px, landscape) {
  /*Product*/
  .prices__products {
    padding-top: 4vh;
    padding-bottom: 4vh;
  }

  .product {
    flex: 0 0 33%;
    &__prices,
    &__interval,
    &__billed {
      margin: 1.5vh 0;
    }
    &__btn {
      margin-top: 1vh;
      padding: 1vh 3vh;
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@include min-media(768px, portrait) {
  /*Product*/
  .product {
    flex: 0 0 33%;
    &__btn {
      font-size: 1.2rem;
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include min-media(1024px, landscape) {
  /*Product*/
  .product {
    &__name,
    &__prices,
    &__interval,
    &__billed {
      margin: 0 0 1vh 0;
    }
    &__btn {
      font-size: 1.2rem;
    }
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/
@include min-media(1280px) {
}
