// Archivos importados
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

/* Hero */
.hero {
  @include flex;
  @include center;
  border-bottom: $rojo 10px solid;
  background-image: $mozaicoPortadaIngles;
  background-size: cover;
  background-position: center;

  .container {
    justify-content: center;
  }

  .slider {
    @include flex;
    @include center;
    width: 50vw;
    margin: 5vh 0 5vh 0;
    text-align: center;
    border-radius: 1.5em;
    background-color: $azul;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 20px -2px rgba(34, 27, 27, 0.7);
    overflow: hidden;
  }
  .slick {
    &-list {
      width: 80vw;
    }
    &-arrow {
      width: 10vw;
      height: 10vw;
      z-index: 10;
      &::before {
        font-size: 2.5rem;
      }
    }
    &-slide {
      img {
        margin: 5vh auto 5vh;
        padding: 0;
        width: 50%;
      }
    }
    &-prev {
      left: 2%;
    }
    &-next {
      right: 2%;
    }
    &-dots {
      bottom: 1.25vh;
      li {
        button {
          &:before {
            color: White;
            opacity: 1;
            font-size: 0.85rem;
            line-height: 1.38rem;
          }
        }
      }
    }
    &-active {
      button {
        border: 3px $rojo solid;
        border-radius: 50%;
      }
    }
  }
}

/* Enjoy */
.enjoy {
  padding: 8vh 0;
  @include flex;
  @include center;
  border-bottom: $azul 10px solid;
  &__col-right,
  &__col-left {
    width: 50%;
    padding: 4vh 1vh 4vh;
  }
  &__col-left {
    font-size: 1.4rem;
  }
  &__col-right {
    @include flex;
    @include column-justify;
    align-content: center;
    margin-top: 0 ;
  }
  &__img {
    width: 50%;
  }
}

/*Plan*/
.plan {
  @include flex;
  @include center;
  background: $gris2;
  padding: 4vh;
  &__title,
  &__text {
    flex: 0 0 100%;
    color: #fff;
    text-align: center;    
  }
  &__text {
    padding: 8vh 0 6vh 0;
  }
}

/*Subscriptions*/

.square-subs {
  &__info {
    width: 45vw;
    margin: 0 auto 4vh;
    padding: 4vh 0 4vh 0;
    @include flex;
    @include center;  
    text-align: center;
    background-color: $amarillo;
    border-radius: 3em;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
  }
  &__subs {
    width: 80%;
  }
  &__input {
    width: 18vw;
    border-radius: 0.5em 0 0 0.5em;
  }
  &__title {
    flex: 100%;
  }
  &__text {
    flex: 100%;
  }
  &__button {
    display: unset;
    background-color: $rojo;
    border-radius: 0 0.5em 0.5em 0;
  }
}

/* FAQ */
.faq {
  @include flex;
  @include center;
  border-top: $azul 10px solid;
  border-bottom: $amarillo 10px solid;

  &__title {
    flex: 0 0 100%;
    text-align: center;
  }
  .accordion {
    width: 45vw;
    margin: 0 auto;
    &::before {
      font-size: 2.5rem;
    }
    text-align: center;
    background: $gris1;
    margin-bottom: 1vh;
    border: 0;
    &__button {
      background: $gris1;
      font-size: 1.5rem;
      font-weight: 400;
      color: #fff;
      text-align: center;
      &:hover {
        background: $gris2;
      }
    }
    &__panel {
      p {
        color: #fff;
        text-align: justify;
      }
    }
  }
}

/*-------------------------------------------- Mobile Portrait(20em) --------------------------------------------*/
@include min-media(20em) {
  /* Hero */
  .hero {
    .slider {
      width: 100vw;
      border-radius: 1.5em;
      padding: 6vh 0 6vh;
      margin: 0;
    }
    .slick {
      &-arrow {
        &::before {
          font-size: 2rem;
        }
      }
      &-slide {
        img {
         width: 70%;
          margin: 0 auto;
        }
      }
      text-align: center;
      &-dots {
        li {
          margin: 0 0.2vh;
        }
      }
    }
  }

  /* Enjoy */
  .enjoy {
    padding: 4vh 0;

    &__col-left {
      flex: 0 0 100%;
    }
    &__col-right {
      flex: 0 0 100%;
    }
    &__text {
      font-size: 1.2rem;
      text-align: center;
    }
    &__img {
      width: 100%;
    }
  }

  /* Plan */

  /*Subscriptions*/
  .square-subs {
    &__info {
      width: 95vw;
      margin-top: 4vh;
      padding: 2vh 3vh 4vh;
      border-radius: 1.5em;
    }
    &__subs {
      width: 95%;
    }
    &__input {
      width: 50%;
    }
  }

  /* FAQ */
  .faq {
    padding: 5vh 0;
    &__title {
      padding-bottom: 5vh;
    }
    .accordion {
      width: 100%;
      margin-bottom: 1.5vh;
      &__button {
        font-size: 1.4rem;
      }
    }
  }
}

/*-------------------------------------------- Mobile Landscape(35.5em) --------------------------------------------*/
@include min-media(35.5em) {
  /* Hero */
  .hero {
    font-size: 1.1rem;
    line-height: 1.5rem;
    height: 105vh;
    .slider {
      padding: 8vh 0 8vh;
    }
    .slick {
      &-slide {
        img {
          width: 55%;
        }
      }
    }
  }
  /* Enjoy */
  .enjoy {
    padding: 1vh 0;
    &__col-left {
      flex: 0 0 100%;
    }
    &__col-right {      
      flex: 0 0 100%;
      text-align: center;
    }
    &__img {
      width: 70%;
    }
  }

  /* Plan */
  .plan {
    &__title {
      padding-bottom: 4vh;
    }
  }

  /*Subscriptions*/
  .square-subs {
    &__info {
      margin: 0 7vh;
      padding: 3vh;
      border-radius: 1.5em;
    }
    &__subs {
      width: 80%;
    }
    &__input {
      width: 50%;
    }
    &__button {
      width: 45%;  
    }
  }

  /* FAQ */
  .faq {
    padding: 5vh 0;
    &__title {
      padding-bottom: 5vh;
    }
    .accordion {
      width: 80vw;
      &__button {
        font-size: 1.4rem;
      }
    }
  }
}

/*-------------------------------------------- Tablet Portrait(48em) --------------------------------------------*/
@include min-media(48em) {
  /* Hero */
  .hero {
    height: 55vh;
    .slick {
      &-arrow {
        &::before {
          font-size: 3.5rem;
        }
      }
      &-dots {
        bottom: 3vh;
        li {
          margin: 0 0.5vh;
          button {
            &:before {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }

  /* Enjoy */
  .enjoy {
    &__col-left {
      flex: 0 0 50%;
    }
    &__col-right {
      flex: 0 0 50%;
    }
    &__text {
      text-align: left;
      font-size: 0.9rem;
      line-height: 1.1rem;
    }
  }
  /*Subscriptions*/
  .square-subs {
    &__info {
      width: 70vw;
    }
  }

  /* FAQ */
  .faq {
    .accordion {
      width: 70vw;
      &__button {
        font-size: 1.6rem;
      }
    }
  }
}

/*-------------------------------------------- Tablet Landscape(64em) --------------------------------------------*/
@include min-media(64em) {
  /* Hero */
  .hero {
    height: 75vh;
    .slider {
      border-radius: 3em;
    }
    .slick {
      &-slide {
      }
      &-arrow {
        &::before {
          font-size: 4rem;
        }
      }
    }
  }

  /* Enjoy */
  .enjoy {
    &__col-left {
      flex: 0 0 50%;
    }
    &__col-right {
      flex: 0 0 50%;
    }
  }

  /* Plan */
  .plan {

  }

  /*Subscriptions*/
  .square-subs {
    &__info {
      width: 100vw;
    }
    &__subs {
      width: 73%;
    } 
  }

  /* FAQ */
  .faq {
    .accordion {
      width: 100%;
      &__button {
        font-size: 1.6rem;
      }
    }
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/
@include min-media(80em) {
  .hero {
    height: 65vh;
    .container {
      justify-content: center;
    }
    .slider {
      width: 70%;
    }
    .slick {
      &-list {
      }
      &-slide {
        img {
          padding: 0;
        }
      }
    }
  }

  /*Subscriptions*/
  .square-subs {
    &__info {
      margin: 0 auto;
      width: 45vw;
    }
  }

  .enjoy {
    &__text {
      font-size: 1.4rem;
      line-height: 1.7rem;
    }
  }

  /* FAQ */
  .faq {
    .container {
      justify-content: center;
    }
    .accordion {
      width:45vw;
      margin-top: 0 auto;
      &__button {
        font-size: 1.6rem;
      }
    }
  }
}
