// Archivos importados
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

/* Hero */
.hero {
  @include flex;
  @include center;
  border-bottom: $rojo 10px solid;
  background-image: $mozaicoPortadaIngles;
  background-size: cover;
  background-position: center;
  .container {
    justify-content: center;
  }
  .slider {
    width: 100%;
    @include flex;
    @include center;
    text-align: center;
    background-color: $azul;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 20px -2px rgba(34, 27, 27, 0.7);
    overflow: hidden;
  }
  .slick {
    &-list {
      width: 100%;
    }
    &-slide {
      img {
        margin: 0 auto;
      }
    }
    &-dots {
      bottom: 25px;
      li {
        button {
          &:before {
            color: White;
            opacity: 1;
            font-size: 1.1rem;
            line-height: 1.5rem;
          }
        }
      }
    }
    &-active {
      button {
        border: 3px $rojo solid;
        border-radius: 50%;
      }
    }
  }
}

/* Enjoy */
.enjoy {
  @include flex;
  @include center;
  border-bottom: $azul 10px solid;
  .container {
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    display: none;
  }
}

/*Plan*/
.plan {
  @include flex;
  @include center;
  background: $gris2;
  .container {
    justify-content: center;
  }
  &__title,
  &__text {
    flex: 0 0 100%;
    color: #fff;
  }
  &__title {
    text-align: center;
  }
}

/*Subscriptions*/
.square-subs {
  &__info {
    @include flex;
    @include center;
    text-align: center;
    background-color: $amarillo;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
  }
  &__input {
    border: none;
    color: $negro;
    border-radius: 0.4em 0 0 0.4em;
  }
  &__title {
    flex: 100%;
  }
  &__text {
    flex: 100%;
  }
  &__button {
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    background-color: $rojo;
    border-radius: 0 0.4em 0.4em 0;
  }
}

/* FAQ */
.faq {
  @include flex;
  @include center;
  border-top: $azul 10px solid;
  border-bottom: $amarillo 10px solid;
  .container {
    justify-content: center;
  }
  &__title {
    flex: 0 0 100%;
    text-align: center;
  }
  .accordion {
    text-align: center;
    background: $gris1;
    margin-bottom: 1vh;
    border: 0;
    &__button {
      background: $gris1;
      font-weight: 400;
      color: #fff;
      text-align: center;
      &:hover {
        background: $gris2;
      }
    }
    &__panel {
      p {
        color: #fff;
        text-align: left;
      }
    }
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/
@include min-media(320px, portrait) {
  /* Hero */
  .hero {
    height: 90vh;
    .slider {
      border-radius: 5em;
      padding: 10vh 0;
    }
    .slick {
      &-prev {
        left: 3vw;
        &:before {
          font-size: 2rem;
        }
      }
      &-next {
        right: 7vw;
        &:before {
          font-size: 2rem;
        }
      }
      &-slide {
        img {
          width: 70%;
        }
      }
      &-dots {
        li {
          margin: 0 0.2vh;
        }
      }
    }
  }

  /* Enjoy */
  .enjoy {
    padding: 4vh 0;
    .container {
      padding: 0 4vh;
    }
    &__col-left {
      flex: 0 0 100%;
    }
    &__col-right {
      margin-top: 4vh;
      flex: 0 0 100%;
    }
    &__text {
      text-align: center;
    }
    &__img {
      width: 100%;
    }
  }

  /* Plan */
  .plan {
    padding-top: 5vh;
    padding-bottom: 7vh;
    &__title {
      padding-bottom: 5vh;
    }
    &__text {
      padding-left: 5vh;
      padding-right: 5vh;
    }
  }

  /*Subscriptions*/
  .square-subs {
    &__info {
      width: 95vw;
      margin-top: 4vh;
      padding: 2vh 3vh 4vh;
      border-radius: 4em;
    }
    &__title {
      padding-bottom: 1vh;
    }
    &__text {
      font-size: 1.2rem;
      padding-bottom: 2vh;
    }
    &__subs {
      width: 95%;
    }
    &__input {
      width: 60%;
      font-size: 1rem;
      padding: 1vh 1.5vh;
    }
    &__button {
      font-size: 1rem;
      padding: 1vh 2vh;
    }
  }

  /* FAQ */
  .faq {
    padding: 5vh 0;
    &__title {
      padding-bottom: 5vh;
    }
    .accordion {
      width: 80%;
      margin-bottom: 1.5vh;
      &__button {
        font-size: 1.4rem;
      }
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include min-media(568px, landscape) {
  /* Hero */
  .hero {
    height: 105vh;
    .slider {
      width: 90%;
      border-radius: 5em;
      padding: 16vh 0;
    }
    .slick {
      &-prev {
        left: 7vw;
        &:before {
          font-size: 3rem;
        }
      }
      &-next {
        right: 12vw;
        &:before {
          font-size: 3rem;
        }
      }
      &-slide {
        img {
          width: 50%;
        }
      }
      &-dots {
        li {
          margin: 0 1vh;
        }
      }
    }
  }

  /* Enjoy */
  .enjoy {
    padding: 7vh 0;
    .container {
      padding: 0 7vh;
    }
    &__col-left {
      flex: 0 0 100%;
    }
    &__col-right {
      margin-top: 7vh;
      flex: 0 0 60%;
    }
    &__img {
      width: 100%;
    }
  }

  /* Plan */
  .plan {
    padding-top: 8vh;
    padding-bottom: 12vh;
    padding-left: 5vh;
    padding-right: 5vh;
    &__title {
      padding-bottom: 8vh;
    }
    &__text {
      padding-left: 14vh;
      padding-right: 14vh;
    }
  }

  /*Subscriptions*/
  .square-subs {
    &__info {
      width: 80vw;
      margin-top: 5vh;
      padding: 3vh 0 6vh 0;
      border-radius: 7em;
    }
    &__title {
      padding-bottom: 1.5vh;
    }
    &__text {
      font-size: 1.2rem;
      padding-bottom: 2vh;
    }
    &__subs {
      width: 90%;
    }
    &__input {
      width: 65%;
      font-size: 1rem;
      padding: 1.5vh 2vh 1.8vh;
      line-height: 0;
    }
    &__button {
      font-size: 1rem;
      padding: 1.5vh 3vh;
    }
  }

  /* FAQ */
  .faq {
    padding: 5vh 0;
    &__title {
      padding-bottom: 5vh;
    }
    .accordion {
      width: 70%;
      &__button {
        font-size: 1.4rem;
      }
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@include min-media(768px, portrait) {
  /* Hero */
  .hero {
    height: 75vh;
    .slider {
      width: 90%;
    }
    .slick {
      &-prev {
        &:before {
          font-size: 3rem;
        }
      }
      &-next {
        &:before {
          font-size: 3rem;
        }
      }
      &-dots {
        li {
          margin: 0 0.5vh;
          button {
            &:before {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }

  /* Enjoy */
  .enjoy {
    &__col-left {
      flex: 0 0 50%;
    }
    &__col-right {
      margin-top: 0;
      flex: 0 0 45%;
    }
    &__text {
      text-align: left;
    }
  }

  /*Subscriptions*/
  .square-subs {
    &__info {
      width: 70vw;
    }
    &__input {
      font-size: 1.3rem;
    }
    &__button {
      font-size: 1.3rem;
    }
  }

  /* FAQ */
  .faq {
    .accordion {
      &__button {
        font-size: 1.6rem;
      }
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include min-media(1024px, landscape) {
  /* Hero */
  .hero {
    height: 85vh;
    .slider {
      border-radius: 8em;
      padding: 8vh 0;
    }
    .slick {
      &-prev {
        &:before {
          font-size: 4rem;
        }
      }
      &-next {
        &:before {
          font-size: 4rem;
        }
      }
    }
  }

  /* Enjoy */
  .enjoy {
    &__col-left {
      flex: 0 0 50%;
    }
    &__col-right {
      margin-top: 0;
      flex: 0 0 45%;
    }

    &__text {
      font-size: 1.4rem;
      line-height: 1.9rem;
    }
  }

  /* Plan */
  .plan {
    padding: 5vh 5vh 7vh;
    &__title {
      padding-bottom: 5vh;
    }

    &__text {
      padding-left: 8vh;
      padding-right: 8vh;
      font-size: 1.5rem;
      line-height: 1.8rem;
    }
  }

  /*Subscriptions*/
  .square-subs {
    &__info {
      width: 65vw;
    }
    &__subs {
      width: 73%;
    }
    &__input {
      font-size: 1.4rem;
      padding: 1vh 2vh;
    }
    &__button {
      font-size: 1.4rem;
      padding: 1vh 2vh;
    }
  }

  /* FAQ */
  .faq {
    .accordion {
      width: 55%;
      &__button {
        font-size: 1.6rem;
      }
    }
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/
@include min-media(1280px) {
  /*Subscriptions*/
  .square-subs {
    &__info {
      width: 54vw;
    }
  }
}
