// Archivos importados
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

/* Login */
.login {
  @include flex;
  @include center;
  border-bottom: $rojo 10px solid;
  background-image: $mozaicoPortadaIngles;
  background-size: cover;
  background-position: center;

  .container {
    justify-content: center
  }

  &__info {
    @include flex;
    @include center;
    text-align: center;
    width: 50vw;
    margin: 4vh 0 4vh 0;
    padding: 4vh 0;
    border-radius: 3em;
    background-color: $amarillo;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.7);    
  }
  &__form {
    width: 70%;
  }
  &__title,
  &__text {
    flex: 100%;
  }
  &__input {
    width: 100%;
    margin: 2vh 0;
  }
  &__button {
    background-color: $rojo;
    align-self: center;
    margin: 0 auto;
  }
  &__register {
    font-weight: 600;
    color: $rojo;
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/
@include min-media(20em) {
  /* Login */
  .login {
    height: 93vh;
    &__info {
      border-radius: 1.5em;
      width: 90vw;
      padding: 2vh 2vh 4vh 2vh;
    }
    &__title {
      padding-bottom: 2vh;
    }
    &__text {
      padding-top: 3vh;
    }
    &__form {
      width: 90%;
    }
    &__input {
      width: 100%;
      margin-bottom: 0;

    }
    &__button {
      margin-top: 2.5vh;

    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include min-media(35.5em)  {
  /* Login */
  .login {
    height: 90vh;
    &__info {
      border-radius: 1.5em;
      width: 90vw;
      padding: 4vh 0;
    }
    &__text {
      padding-top: 2vh;
    }
    &__form {
      width: 70%;
    }
    &__input {
      width: 100%;
      margin: 2vh 0;
    }
    &__button {
      margin-top: 1vh;
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@include min-media(48em) {
  /* Login */
  .login {
    height: 62vh;
    &__info {
      border-radius: 3em;
    }
    &__form {
      width: 70%;
    }
    &__input {
      margin: 1.5vh 0;
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include min-media(64em) {
  /* Login */
  .login {
    height: 72vh;
    &__info {
      border-radius: 3em;
    }
    &__form {
      width: 70%;
    }  
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/
@include min-media(80em) {
  /* Login */
  .login {
    &__info {
      width: 53vw;
    }
  }
}
