// Archivos importados
@import '../assets/scss/normalize';
@import '../assets/scss/variables';
@import '../assets/scss/mixins';
@import '../assets/scss/fonts';
@import '../assets/scss/appleZoomInput';

/* Contenedores principales */
body {
  background-color: #fff;
}

.content {
  @include flex;
  flex-direction: column;
  width: 100%;
}

.container {
  @include flex;
  width: 74vw;
}

/*Text*/
h2 {
  font-size: 2.2rem;
  line-height: 2.4rem;
  padding-bottom: 2vh;
}

h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  font-size: 1.35rem;
  line-height: 1.65rem;
  font-weight: 400;
}

.button {
  @include flex;
  @include column-justify;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  padding: 1.5vh 3vh 1.5vh;
  border-radius: 0.5em;
  border: 0;
  cursor: pointer;
}

.input {
  font-size: 1.1rem;
  font-weight: 400;
  color: $negro;
  border-radius: 0.5em;
  padding: 1.5vh;
  margin: 3vh 0 1vh 0;
  border: 0;
}

/* Header */
.header {
  padding: 2vh 0;
  @include flex;
  justify-content: center;
  background-color: $negro;
  .container {
    justify-content: space-between;
  }
  &__logo {
    cursor: pointer;
    max-width: 60%;
  }
  &__logo-container {
    width: 25vw;
  }
  &__button-group {
    @include flex;
    width: 12.5vw;
    justify-content: space-between;
  }
  &__button-signin {
    background-color: $azul;
  }
  &__button-signup {
    background-color: $rojo;
  }
}

/* Footer */
.footer {
  @include flex;
  @include center;
  color: #fff;
  background-color: $negro;
  padding: 4vh 0;
  .container {
    justify-content: center;
    text-align: center;
  }
  &__title {
    flex: 100%;
    color: #fff;
    padding-bottom: 1vh;
  }
  &__email {
    flex: 100%;
    cursor: pointer;
    color: #fff;
    font-size: 1.7rem;
    padding-bottom: 3vh;
  }
  &__line {
    flex: 100%;
    border-top: 2px solid #fff;
    margin-bottom: 2vh;
  }
  &__logo {
    cursor: pointer;
    width: 50%;
  }
  &__copy {
    flex: 100%;
    color: #fff;
    font-size: 1.3rem; 
     
  }
  &__terms {
    padding-top: 0.5vh;
    color: white;
  }
  &__span {
    color:white;
  } 
}

/*----------------------------------------- Mobile Portrait (320px) --------------------------------------------*/
@include min-media(20em) {
  .container {
    width: 90vw;
    margin: 3vh 0 3vh;
  }

  /* Header */
  .header {
    padding: 2vh 0;
    &__logo-container {
      width: 45vw;
    }
    &__logo {
      max-width: 100%;
    }
    &__button-group {
      width: 35vw;
    }
    .button {
      padding: 1.54vh;
      font-size: 0.85rem;
    }
  }

  /* Footer */
  .footer {
    padding: 3vh 0;
    &__email {
      font-size: 1rem;
    }
    &__logo {
      width: 45vw;
    }
    &__copy {
      padding-top: 1vh;
      font-size: 0.9rem;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include min-media(35.5em) {
  .input {
    margin: 6vh 0 1vh 0;
  }
  /* Header */
  .header {
    padding: 4vh 0;
    &__logo {
      width: 23vw;
    }
    &__button-group {
      width: 19.5vw;
    }
    .button {
      padding: 2.5vh;
    }
  }

  /* Footer */
  .footer {
    &__email {
      font-size: 1.3rem;
    }
    &__logo {
      width: 32vw;
    }
    &__copy {
      padding-top: 1vh;
      font-size: 1rem;
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@include min-media(48em) {
  /* Header */
  .header {
    padding: 2vh 0;
    &__logo {
      width: 23vw;
    }
    &__button-group {
      width: 30vw;
    }
    .button {
      font-size: 1.1rem;
    }
  }

  /* Footer */
  .footer {
    &__copy {
      font-size: 1.3rem;
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include min-media(64em) {
  /* Header */
  .header {
    padding: 2vh 0;
    &__logo {
      width: 20vw;
    }
    &__button-group {
      width: 16vw;
    }
    .button {
      font-size: 1.1rem;
      padding: 1.5vh;
    }
  }

  /* Footer */
  .footer {
    &__copy {
      font-size: 1.3rem;
    }
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/
@include min-media(80em) {
  .container {
    width: 74vw;
    margin: 1.5vh 0 1.5vh;
  }
  /* Header */
  .header {
    &__logo {
      width: 12.5vw;
    }
    &__button-group {
      width: 10.5vw;     
    }
    .button {
      font-size: 1.1rem;
      padding: 1.75vh;
    }
  }
  /* Footer */
  .footer {
    &__logo {
      width: 18vw;
    }
  }
}
